.standard {
  max-height: 270px;
  background: #262626;
  padding: 16px;
  cursor: pointer;
}

.standard:nth-child(4n + 1) {
  grid-column: 1 / 4;
}

.standard:nth-child(4n + 2) {
  grid-column: 4 / 7;
}

.standard:nth-child(4n + 3) {
  grid-column: 7 / 10;
}

.standard:nth-child(4n) {
  grid-column: 10 / 13;
}

.text_container {
  height: 170px;
  background: #525252;
  letter-spacing: 0.16px;
  font-size: 12px;
  padding: 8px;
}

.title_image {
  color: #f4f4f4;
  margin-left: 10px;
}

.titleAndIcon {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.close{
  cursor: pointer;
}

.standard:hover {
  background: #363636;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
}

.lightText {
  display: flex;
  justify-content: space-between;
  color: #666;
}

.link {
  cursor: pointer;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
}

@media screen and (max-width: 1535px) {
  .standard:nth-child(3n + 1) {
    grid-column: 1 / 5;
  }

  .standard:nth-child(3n + 2) {
    grid-column: 5 / 9;
  }

  .standard:nth-child(3n + 3) {
    grid-column: 9 / 13;
  }
}

@media screen and (max-width: 1260px) {
  .standard:nth-child(2n + 1) {
    grid-column: 2 / 7;
  }

  .standard:nth-child(2n + 2) {
    grid-column: 7 / 12;
  }
}

@media screen and (max-width: 1020px) {
  .standard:nth-child(n + 1) {
    grid-column: 4 / 11;
  }
}
