.grid_container {
  max-width: 100vw;
  max-height: 100%;
  margin: 0 140px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  flex: 0 1 auto;
  min-height: 0;
  column-gap: 32px;
}

.title_container {
  margin-bottom: 32px;
  align-items: center;
  grid-column: 1/-1;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
}

.title_container input {
  height: 40px;
  background: #262626;
  border: none;
  border-bottom: 1px solid #525252;
  outline: none;
  color: #f4f4f4;
  margin-right: 32px;
  padding: 11px;
  flex: 0 1 790px;
}

.title_container input:focus {
  outline-style: dashed;
}

.container_body {
  max-height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  grid-column: 1/-1;
}

.container_body::-webkit-scrollbar {
  display: none;
}

.list {
  height: 100%;
  max-width: 100vw;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  padding: 0;
  margin: 0;
}

.title {
  margin: 0;
  line-height: 28px;
  font-size: 32px;
  font-weight: 400;
}

@media screen and (max-width: 1670px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1480px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .title_container input{
    flex: 0 1 380px;
  }
}

@media screen and (max-width: 1096px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
